/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

section {
    background: #fff;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, select {
    display: block;
    margin: 10px 0;
}

iframe {
    width: 100%;
    border: none;
    transition: height 0.3s ease;
}

#yearly-content {
    flex: 1;
    width: 100%;
    height: 100%; /* Adjust the height as needed */
}

#yearlyIframe {
    width: 100%;
    height: 100%;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: none;
}

footer a {
    color: #fff;
    text-decoration: none;
}

#notebookIframe, #yearlyIframe {
    min-width: 600px; /* Set the minimum width as desired */
}

#about, #analysis {
    min-width: 600px;
}